style.
    html {
        text-align: center;
    }
    
    body {
        padding: 30px 0;
    }
    
    .field:not(:last-child) {
        margin-bottom: 15px;
    }
    
    .btn, .form-control {
        box-shadow: none !important;
        outline: none !important;
        height: 50px !important;
    }
    
    #country-suggestions {
        padding: 0 10px;
        display: none;
        position: absolute;
        z-index: 5;
        max-height: 250px;
        overflow: auto;
    }
    
    #country-iso {
        display:  none;
    }
    
    .active {
        display: block !important;
    }